{% extends 'vente/vente.html.twig' %}

{% block css %} {{ parent() }}<link href="{{ asset('style/bienvenue.css') }}" rel="stylesheet" type="text/css">{% endblock %}

{% block title %}Bienvenue !{% endblock %}

{% block titre_principal %}Bienvenue sur le site de mon magasin !{% endblock %}

{% block vue %}
    <p>Regarde le menu pour naviguer</p>
{% endblock %}