{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block titre_principal %}Liste des produits{% endblock %}

{% block vue %}
    {% if produits is defined %}
        <p>Produits : </p>
        <table>
        <tr>
            {% for key in produits|first|keys %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for produit in produits %}
        <tr>
            {% for val in produit %}
                <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Il n'y a pas de produits</p>
    {% endif %}
{% endblock %}