{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block titre_principal %}Bienvenue sur le site de mon magasin !{% endblock %}

{% block vue %}
    <p>Regarde le menu pour naviguer</p>
{% endblock %}