<footer style="  width: 100%;">
    <p  style="position: absolute; margin-top: 170px; left: 50%; color: white;">FOOTER</p>
    <img style="width:200px; min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer1.png') }}
    ><img style="width: calc(100% - 300px); min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer2.png') }}
    ><img style="width:100px; min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer3.png') }}
</footer>
