<footer style="  width: 100%;align-content: ">
    <img style="width:200px; min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer1.png') }}
    ><img style="width: calc(100% - 300px); min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer2.png') }}
    ><img style="width:100px; min-height: 300px;max-height: 300px;" id="footerImg" src={{ asset('image/footer3.png') }}>
    <p  style="position: relative; bottom: 150px; left: 50%; transform: translate(-50%, -50%);color: white;">FOOTER</p>
</footer>
