<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {%block css %}<link href="{{ asset('style/base.css') }}" rel="stylesheet" type="text/css">{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}

    {% endblock %}
    </body>
</html>

